:root {
  --content-width: 1120px;
  --container-width: 810px;

  --light-primary-color: 255, 255, 255;
  --light-secondary-color: #dddddd;
  --light-tertiary-color: #2a2a2a;
  --light-text-color: black;
}

/* Prepend a dollar sign to shell commands */
code.language-bash > span.line::before {
  content: "$";
  margin-right: 1em;
  color: var(--dark-primary-color);
  font-weight: bold;
}

pre {
  position: relative;
  border: 1px solid var(--dark-tertiary-color);
  border-radius: 4px;
}

@media only screen and (max-width: 820px) {
  /* Make language switcher visible in mobile */
  .nav-hamburger-list .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }
}